In [2]:
import pandas as pd
df=pd.read_excel("Downloads/casestudy.xlsx")
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Day,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.6500,1042.6500,6,2019-02-15,14:53:00,Credit card,993.00,4.761905,49.6500,6.6
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,6,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,1,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.4900,1039.2900,6,2019-02-08,16:20:00,Credit card,989.80,4.761905,49.4900,8.7
4,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.2600,1034.4600,4,2019-01-30,20:23:00,Ewallet,985.20,4.761905,49.2600,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,236-86-3015,C,Naypyitaw,Member,Male,Home and lifestyle,13.98,1,0.6990,14.6790,2,2019-02-04,13:38:00,Ewallet,13.98,4.761905,0.6990,9.8
996,192-98-7397,C,Naypyitaw,Normal,Male,Fashion accessories,12.78,1,0.6390,13.4190,3,2019-01-08,14:11:00,Ewallet,12.78,4.761905,0.6390,9.5
997,279-62-1445,C,Naypyitaw,Member,Female,Fashion accessories,12.54,1,0.6270,13.1670,5,2019-02-21,12:38:00,Cash,12.54,4.761905,0.6270,8.2
998,308-39-1707,A,Yangon,Normal,Female,Fashion accessories,12.09,1,0.6045,12.6945,7,2019-01-26,18:19:00,Credit card,12.09,4.761905,0.6045,8.2
999,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,5,2019-02-07,14:15:00,Cash,10.17,4.761905,0.5085,5.9

In [3]:
df.shape#shape

(1000, 18)

In [4]:
df.dtypes#dtypes

Invoice ID                         object
Branch                             object
City                               object
Customer type                      object
Gender                             object
Product line                       object
Unit price                        float64
Quantity                            int64
Tax 5%                            float64
Total                             float64
Day                                 int64
Date                       datetime64[ns]
Time                               object
Payment                            object
cogs                              float64
gross margin percentage           float64
gross income                      float64
Rating                            float64
dtype: object

In [5]:
df.isnull()#check missing values

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Day,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.dropna(inplace=True)
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Day,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.6500,1042.6500,6,2019-02-15,14:53:00,Credit card,993.00,4.761905,49.6500,6.6
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,6,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,1,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.4900,1039.2900,6,2019-02-08,16:20:00,Credit card,989.80,4.761905,49.4900,8.7
4,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.2600,1034.4600,4,2019-01-30,20:23:00,Ewallet,985.20,4.761905,49.2600,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,236-86-3015,C,Naypyitaw,Member,Male,Home and lifestyle,13.98,1,0.6990,14.6790,2,2019-02-04,13:38:00,Ewallet,13.98,4.761905,0.6990,9.8
996,192-98-7397,C,Naypyitaw,Normal,Male,Fashion accessories,12.78,1,0.6390,13.4190,3,2019-01-08,14:11:00,Ewallet,12.78,4.761905,0.6390,9.5
997,279-62-1445,C,Naypyitaw,Member,Female,Fashion accessories,12.54,1,0.6270,13.1670,5,2019-02-21,12:38:00,Cash,12.54,4.761905,0.6270,8.2
998,308-39-1707,A,Yangon,Normal,Female,Fashion accessories,12.09,1,0.6045,12.6945,7,2019-01-26,18:19:00,Credit card,12.09,4.761905,0.6045,8.2
999,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,5,2019-02-07,14:15:00,Cash,10.17,4.761905,0.5085,5.9

In [7]:
new_df=df.fillna(method="ffill")
new_df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Day,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.6500,1042.6500,6,2019-02-15,14:53:00,Credit card,993.00,4.761905,49.6500,6.6
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,6,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,1,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.4900,1039.2900,6,2019-02-08,16:20:00,Credit card,989.80,4.761905,49.4900,8.7
4,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.2600,1034.4600,4,2019-01-30,20:23:00,Ewallet,985.20,4.761905,49.2600,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,236-86-3015,C,Naypyitaw,Member,Male,Home and lifestyle,13.98,1,0.6990,14.6790,2,2019-02-04,13:38:00,Ewallet,13.98,4.761905,0.6990,9.8
996,192-98-7397,C,Naypyitaw,Normal,Male,Fashion accessories,12.78,1,0.6390,13.4190,3,2019-01-08,14:11:00,Ewallet,12.78,4.761905,0.6390,9.5
997,279-62-1445,C,Naypyitaw,Member,Female,Fashion accessories,12.54,1,0.6270,13.1670,5,2019-02-21,12:38:00,Cash,12.54,4.761905,0.6270,8.2
998,308-39-1707,A,Yangon,Normal,Female,Fashion accessories,12.09,1,0.6045,12.6945,7,2019-01-26,18:19:00,Credit card,12.09,4.761905,0.6045,8.2
999,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,5,2019-02-07,14:15:00,Cash,10.17,4.761905,0.5085,5.9

In [8]:
df.count()

Invoice ID                 1000
Branch                     1000
City                       1000
Customer type              1000
Gender                     1000
Product line               1000
Unit price                 1000
Quantity                   1000
Tax 5%                     1000
Total                      1000
Day                        1000
Date                       1000
Time                       1000
Payment                    1000
cogs                       1000
gross margin percentage    1000
gross income               1000
Rating                     1000
dtype: int64

In [9]:
df.count(axis=1)

0      18
1      18
2      18
3      18
4      18
       ..
995    18
996    18
997    18
998    18
999    18
Length: 1000, dtype: int64

In [10]:
df.value_counts(df['Branch'].values)

A    340
B    332
C    328
dtype: int64

In [11]:
df.value_counts(df['City'])

City
Yangon       340
Mandalay     332
Naypyitaw    328
dtype: int64

In [12]:
df.value_counts(df['Gender'])

Gender
Female    501
Male      499
dtype: int64

In [13]:
df.value_counts(df['Product line'])

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
dtype: int64

In [14]:
df.value_counts(df['Customer type'])

Customer type
Member    501
Normal    499
dtype: int64

In [15]:
df.value_counts(df['Payment'])

Payment
Ewallet        345
Cash           344
Credit card    311
dtype: int64

In [16]:
df.Branch.count()#total branch count

1000

In [17]:
df.Branch.max()

'C'

In [18]:
df.Branch.min()

'A'